REACT_APP_STRIPE_PUBLIC=pk_
# This should not end with a slash. You will find this in the "endpoints" section when `sls deploy` is run
REACT_APP_API_URL=http
REACT_APP_CURRENCY=gbp
STRIPE_PRIVATE=sk_
# This will be a domain name, no protocol, port or slashes
ORIGIN=
# A globally unique S3 bucket name. It will not be exposed to users so is common to prefix with your (business) name
BUCKET_FRONT_END=
PROD=0
AWS_REGION=eu-west-1
DYNAMO_TABLE=serverless-payments
